// Rename this file to secrets.h

const char *ssid1 = ""; // Primary
const char *password1 = "";
const char *ssid2 = ""; // We try this if SSID1 fails
const char *password2 = "";
const char *shelly_api_url = "https://shelly-xxx-yy.shelly.cloud/device/status"; // Visible in Shelly Smart Control app (User settings -> Authorization cloud key)
const char *shelly_api_key = "";   // Visible in Shelly Smart Control app (User settings -> Authorization cloud key)
const char *shelly_em_id = "";    // Visible in Shelly Smart Control app under device information
